<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.handler.mobile.android.fairmondo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".FairmondoApp_"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="de.handler.mobile.android.fairmondo.presentation.activities.MainActivity_"
            android:label="@string/app_name"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="de.handler.mobile.android.fairmondo.presentation.activities.SearchableActivity_"
            android:label="@string/app_name"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName="de.handler.mobile.android.fairmondo.presentation.activities.MainActivity_" tools:ignore="NewApi">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.handler.mobile.android.fairmondo.presentation.activities.MainActivity_"/>

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>

        <activity
            android:name="de.handler.mobile.android.fairmondo.presentation.activities.ProductGalleryActivity_"
            android:label="@string/app_name"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName="de.handler.mobile.android.fairmondo.presentation.activities.MainActivity_" tools:ignore="NewApi">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.handler.mobile.android.fairmondo.presentation.activities.MainActivity_"/>

        </activity>

        <activity
            android:theme="@style/BaseTheme"
            android:name="de.handler.mobile.android.fairmondo.presentation.activities.WebActivity_"
            android:label="@string/app_name"
            android:parentActivityName="de.handler.mobile.android.fairmondo.presentation.activities.MainActivity_" tools:ignore="NewApi"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.handler.mobile.android.fairmondo.presentation.activities.MainActivity_"/>

        </activity>
        
        <provider
            android:authorities="de.handler.mobile.android.fairmondo.searchsuggestionprovider"
            android:exported="false"
            android:name=".data.datasource.SearchSuggestionProvider"/>
    </application>

</manifest>
